











body{
    background-color: white
}



.navBar{
  color: blue;
  text-decoration: none;
  text-align: center;
}


.logoLoc{
    margin-bottom: 2%;
}




.linkLoc{
    margin-left: 9%;
    margin-right: 22%;
}
.links{
    display: inline-block;
    margin-right: 1%;
    margin-left: 15%;
    padding-top: 12%;
    padding-bottom: 3%;
}
.links :hover{
    background-color: black;
}


footer{
    background-color: aquamarine;
    height: 200px;
    align-content: center;
}

footer p {
    padding-top: 100px;
    text-align: center ;
    cursor: pointer;
    
}

fieldset{
    margin-left: 20%;
    margin-right: 20%;
}



